.about {
  text-align: center;

  ul {
    display: flex;
    justify-content: space-evenly;
  }

  li {
    width: 20%;
    border-left: 15px solid #FFC5BF;
    transition: 0.8s ease;
  }

  li:hover {
    border-left: 15px solid #A2E1DB;
  }

}

.team {
  padding: 30px 0;

  h1 {
    padding: 50px;
  }
}

.feature {
  display: flex;

  img {
    width: 60%;
  }
}

.FAQ {
  text-align: left;
  padding: 60px;
  background: $palepink;
  width: 40%;

  h4 {
    cursor: pointer;
  }

  i {
    margin-right: 10px;
  }

  p {
    display: none;
  }
}