.contactForm {
  background: $palepink;
  text-align: center;
  display: flex;

  div,
  form {
    width: 50%;
    display: flex;
  }

  div {
    flex-direction: column;
    justify-content: center;
  }

  ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  
  a {
    font-size: 25px;
    padding: 0 10px;
    color: black;
  }

  form {
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;

    input,
    textarea {
      background: $palepink;
      border: 0;
      border-bottom: 2px solid $grey;
      padding: 10px;
    }

    button {
      font-size: 25px;
      background: $grey;
      color: white;
      padding: 10px 30px;
      border: 0;
    }
  }
}