// Contact form
.contactForm {
  background: $palepink;
  text-align: center;
  display: flex;

  div,
  form {
    width: 50%;
    display: flex;
  }

  div {
    flex-direction: column;
    justify-content: center;
  }

  ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  
  a {
    font-size: 25px;
    padding: 0 10px;
    color: black;
  }

  form {
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;

    input,
    textarea {
      background: $palepink;
      border: 0;
      border-bottom: 2px solid $grey;
      padding: 10px;
    }

    button {
      font-size: 25px;
      background: $grey;
      color: white;
      padding: 10px 30px;
      border: 0;
    }
  }
}

// Order - dont want to create new file for just this lol 
.order {
  margin-bottom: 100px;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    width: 90%;
    margin: 0 auto;
    
    li {
      background: $palepink;
      margin: 10px;
      display: flex;
    }

    a {
      padding: 5px 15px;
      border: 2px solid $pink;
      text-decoration: 0;
      color: $grey;
    }

    div {
      padding: 25px;
    }
    
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }

  h3 {
    text-align: center;
  }
}

// Order form
.orderForm {
  text-align: left;
  width: 60%;
  margin: 2% auto;

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea,
  select {
    border: 0;
    border-bottom: 2px solid $pink;
    padding: 10px;
    margin: 10px 0;
  }

  label {
    padding-left: 10px;
  }

  button {
    font-size: 25px;
    background: $grey;
    color: white;
    padding: 10px 30px;
    border: 0;
    margin-top: 15px;
  }
}