// HERO IMAGE ON HOME PAGE
.hero {
  background: url('../assets/hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 300px;
    height: 300px;
  }
}

.action {
  background: $palepink;
  color: $grey;
  font-size: 20px;
  padding: 10px 20px;
  margin: 30px;
  display: flex;
  justify-content: center;
  transition: 0.3s ease;

  &:hover {
    background: $grey;
    color: $palepink;
  }
}

// TOP NAV BAR
.branding {
  display: flex;
  justify-content: space-between;

  img {
    width: 10%;
    padding: 20px;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

    a {
      font-size: 25px;
      color: black;
      padding: 0 15px;
    }
  }
}


nav {
  margin: 0 auto;
  background: $grey;
  padding: 2px 0;

  ul {
    display: flex;
    justify-content: space-evenly;
  }

  a {
    color: white;
  }
}
