@import 'setup';
@import 'variables';
@import 'header';
@import 'about';
@import 'menu';
@import 'forms';
@import 'footer';

body {
  background: rgba(0, 0, 0, 0);
  position: relative;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 1500px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.flavour {
  padding: 100px;

  h2 {
    margin-left: -50px;
  }

  ul {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-evenly;
  }

  li {
    width: 30%;
  }

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  p {
    margin: 50px 0;
    text-align: center;
  }

  a {
    background: $blue;
    padding: 15px 50px;
    color: white;
    font-size: 30px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h3 {
      position: absolute;
      background: rgba(0,0,0,0.6);
      color: white;
      font-size: 40px;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: .5s ease-out;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &:hover h3 {
      opacity: 1;
    }
  }

  img {
    min-width: 350px;
    height: 350px;
    object-fit: cover;
    padding: 0;
  }
}

// MEDIA QUERIES HERE
@media (max-width: 1200px) {
  .about li {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .flavour {
    padding: 0;
    margin-bottom: 80px;

    h2 {
      margin-left: 0;
    }

    ul {
      flex-direction: column;
      justify-content: center;
  
      li {
        width: 80%;
        margin-top: 10px;
      }
    }
  }
  
    .menu {
      width: 90%;
      padding: 50px;
    }
}

// this is mobile view
@media (max-width: 500px) {
  .about ul,
  .feature {
    flex-direction: column;

    li {
      width: 70%;
      margin: 20px auto;
    }
  }

  .feature {
    flex-direction: column;

    img {
      width: 100%;
    }

    .FAQ {
      width: 100%;
    }
  }

  .order ul li {
    flex-direction: column;
    width: 80%;
    margin-left: 0;

    img {
      width: 100%;
    }
  }

  .orderForm {
    width: 90%;
  }

  .contactForm {
    flex-direction: column;

    div,
    form {
      width: 90%;
      margin: 0 auto;
    }
  }
}
