html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  background: url("../assets/hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .logo {
  width: 300px;
  height: 300px;
}

.action {
  background: #FFEDEC;
  color: #3d3732;
  font-size: 20px;
  padding: 10px 20px;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.action:hover {
  background: #3d3732;
  color: #FFEDEC;
}

.branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.branding img {
  width: 10%;
  padding: 20px;
}

.branding ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.branding ul a {
  font-size: 25px;
  color: black;
  padding: 0 15px;
}

nav {
  margin: 0 auto;
  background: #3d3732;
  padding: 2px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav a {
  color: white;
}

.about {
  text-align: center;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about li {
  width: 20%;
  border-left: 15px solid #FFC5BF;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.about img {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.about li:hover {
  border-left: 15px solid #A2E1DB;
}

.team {
  padding: 30px 0;
}

.team h1 {
  padding: 50px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature img {
  width: 60%;
}

.FAQ {
  text-align: left;
  padding: 60px;
  background: #FFEDEC;
  width: 40%;
}

.FAQ h4 {
  cursor: pointer;
}

.FAQ h4 i {
  margin-right: 10px;
}

.FAQ p {
  display: none;
}

.menu {
  background: #FFEDEC;
  margin: 5% auto;
  width: 60%;
  border: 5px double #3d3732;
  padding: 80px;
}

.contactForm {
  background: #FFEDEC;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm div,
.contactForm form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactForm ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.contactForm a {
  font-size: 25px;
  padding: 0 10px;
  color: black;
}

.contactForm form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 40px;
}

.contactForm form input,
.contactForm form textarea {
  background: #FFEDEC;
  border: 0;
  border-bottom: 2px solid #3d3732;
  padding: 10px;
}

.contactForm form button {
  font-size: 25px;
  background: #3d3732;
  color: white;
  padding: 10px 30px;
  border: 0;
}

.order {
  margin-bottom: 100px;
}

.order ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 90%;
  margin: 0 auto;
}

.order ul li {
  background: #FFEDEC;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order ul a {
  padding: 5px 15px;
  border: 2px solid #FFC5BF;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  color: #3d3732;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.order ul a:hover {
  background-color: white;
}

.order ul div {
  padding: 25px;
}

.order ul img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.orderForm {
  text-align: left;
  width: 60%;
  margin: 2% auto;
}

.orderForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orderForm input,
.orderForm textarea,
.orderForm select {
  border: 0;
  border-bottom: 2px solid #FFC5BF;
  padding: 10px;
  margin: 10px 0;
}

.orderForm label {
  padding-left: 10px;
}

.orderForm button {
  font-size: 25px;
  background: #3d3732;
  color: white;
  padding: 10px 30px;
  border: 0;
  margin-top: 15px;
}

footer {
  background-color: black;
  color: white;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  font-size: 25px;
  color: white;
  padding: 0 15px;
}

body {
  background: rgba(0, 0, 0, 0);
  position: relative;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 1500px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.flavour {
  padding: 100px;
}

.flavour h2 {
  margin-left: -50px;
}

.flavour ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flavour li {
  width: 30%;
}

.flavour img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.flavour p {
  margin: 50px 0;
  text-align: center;
}

.flavour a {
  background: #96B9D0;
  padding: 15px 50px;
  color: white;
  font-size: 30px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.gallery div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.gallery div h3 {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 40px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.gallery div:hover h3 {
  opacity: 1;
}

.gallery img {
  min-width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}

@media (max-width: 800px) {
  .flavour {
    padding: 0;
    margin-bottom: 80px;
  }
  .flavour h2 {
    margin-left: 0;
  }
  .flavour ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flavour ul li {
    width: 80%;
    margin-top: 10px;
  }
}
